{% extends 'base.html' %}

{% block title %}<h1>{{pet.name}}</h1>{% endblock %}

{% block content %}
<div>
  <img src="{{pet.photo_url}}" alt=""><br>
  <span><h3>AGE:</h3> {{pet.age}} </span><br>
 <span> <h3>SPECIES:</h3> {{pet.species}}</span> <br>
 <span><h3>NOTES:</h3> {{pet.notes}}</span>
</div>
<div><h1>Edit {{pet.name}}'s Info!</h1></div>
<form id="edit-pet" method="POST">
  {{ form.hidden_tag() }} <!--add type=hidden form fields -->

  {% for field in form
         if field.widget.input_type != 'hidden' %}

    <p>
      {{ field.label }}
      {{ field }}

      {% for error in field.errors %}
        {{ error }}
      {% endfor %}
    </p>

  {% endfor %}

  <button type="submit">Submit</button>
</form>
<a href="/">Back</a>
{% endblock %}